<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EBTTextFildDropDownDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D276ECA1E55529A00687202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D276EE31E55529B00687202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D276EEE1E55529B00687202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
